.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 30px;
  height: 70px;
  width: 100%;
  z-index: 5;
  & .navbar__Logo {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #3aa74e;
    & img {
      width: 150px;
      height: 150px;
    }
  }
}
.navbar__Redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #3aa74e;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 50px;
  background-color: #fff;
  padding: 3px;
  border-radius: 20px;
  border: 1px solid #3aa74e;
  & .searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 45px;
    background-color: #fff;
    padding: 3px;
    & input {
      width: 75%;
      height: 90%;
      background-color: rgb(241, 241, 241);
      border: none;
      color: #000000;
      font-size: 16px;
      outline: none;
      padding-left: 20px;
      border-radius: 20px;
      outline: 1px solid #757575;
      &::placeholder {
        color: #686868;
      }
    }
    & button {
      min-width: 40px;
      min-height: 40px;
      background-color: rgb(241, 241, 241);
      border: 1px solid #757575;
      color: #000000;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.resultSearch {
  position: relative;
  top: 0px;
  width: 100%;
  border-radius: 10px 10px 40px 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  padding: 5px;
  border: 1px solid #3aa74e;
  z-index: 2;
  & .result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #3aa74e;
    & img {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 742px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    & .navbar__Redes {
      width: 80%;
    }
    & .search {
      width: 100%;
    }
    & .navbar__Logo {
      & img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
@media screen and (max-width: 623px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    & .navbar__Redes {
      width: 67%;
    }
    & .search {
      display: none;
    }
    & .navbar__Logo {
      width: 30%;
      & img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media screen and (max-width: 365px) {
  .navbar {
    flex-direction: column;
    & .navbar__Redes {
      width: 100%;
    }
    & .search {
      display: none;
    }
    & .navbar__Logo {
      width: 60%;
      & img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
