*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 0, 0);
}
a{
  text-decoration: none;
}
body{
  background-color: #f0f0f0;
}